<div id="home">
  <div class="layer">
  <div class="navbar">
      <div class="navbar-list ms-auto me-5">
          <ul>
              <li>
                  <a><span>Home</span></a>
              </li>
              <li>
                  <a href="#about">About</a>
              </li>
              <li>
                  <a href="#services">What I Do</a>
              </li>
              <li>
                  <a href="#resume">Resume</a>
              </li>
              <li>
                  <a href="#portfolio">Portfolio</a>
              </li>
              <li>
                  <a href="client">Client</a>
              </li>
              <li>
                  <a href="#contact">Contact</a>
              </li>
          </ul>    
      </div>
  </div>

      <div class="caption">
      
          <h3>Welcome</h3>
          <h1>I'm </h1>
          <h4>Based in Cairo, Egypt.</h4>
          <a href="https://drive.google.com/file/d/1JCumsiacAWkFJB03L7GorJxNjmoZP-tB/view?usp=sharing"><button>Hire Me</button></a>
      </div>
      <div class="gear"><i class="fa-solid fa-gear"></i></div>
  </div>
  </div>


<div id="about">
  <div class="title"><h2>Know Me More</h2></div>
  <div class="brdr"></div>
  <div class="caption">
      <div class="content">
          <h3>I'm <span>Mohammed Lamei,</span> a Web Developer</h3>
          <br>
          <p>I'm Mohammed Lamei, a passionate and detail-oriented full-stack web developer with expertise in crafting modern, responsive, and user-friendly web applications. My technical foundation is built on HTML5, CSS, JavaScript, React.js, Angular, Node.js, and Spring Boot, combined with a strong command of databases like MongoDB, PostgreSQL, and MySQL. I excel at developing scalable and efficient software solutions while maintaining clean and maintainable code.<br>
          <br>
            <p>As a freelancer, I specialize in delivering high-quality web solutions tailored to meet my clients' unique needs. I offer end-to-end website development, creating professional, responsive, and visually appealing sites using modern technologies like React.js, Angular, HTML5, and CSS3.</div>
      <div class="cv">
          <p><span class="bold">Name:</span> Mohammed Lamei</p>
          <div class="brdr2"></div>
          <p><span class="bold">Email:</span><a href="" class="green"> Mohammedlamei311@gmail.com</a></p>
          <div class="brdr2"></div>
          <p><span class="bold">Age:</span> 23</p>
          <div class="brdr2"></div>
          <p><span class="bold">From:</span> Cairo, Egypt</p>
          <a href="https://drive.google.com/file/d/1JCumsiacAWkFJB03L7GorJxNjmoZP-tB/view?usp=sharing"><button>Review CV</button></a>
      </div>
  </div>
</div>
<div id="numbers">
  <div class="number">
      <h2>2</h2>
      <p>Years Experience</p>
  </div>
  
  <div class="brdr bend"></div>
  <div class="number">
      <h2>20+</h2>
      <p>Projects Done</p>
  </div>
  <div class="brdr"></div>
  <div class="number">
      <h2>2</h2>
      <p>Degrees</p>
  </div>
  
</div>
<div id="services">
  <div class="title"><h2>What I Do?</h2></div>
  <div class="brdr"></div>
  <div class="caption">
      <div class="service">
          <div class="icon"><i class="fa-solid fa-palette"></i></div>
          <div class="content">
              <h3>
                Website Development
              </h3>
              <p>
                Create professional, responsive, and modern websites tailored to your business or personal brand.</p>
          </div>  
      </div>

      <div class="service">
          <div class="icon"><i class="fa-solid fa-display"></i></div>
          <div class="content">
              <h3>
                E-commerce Solutions
              </h3>
              <p>
                Build user-friendly and secure e-commerce platforms.</p>
          </div>
          
      </div>
      <div class="service">
          <div class="icon"><i class="fa-solid fa-pen-ruler"></i></div>
          <div class="content">
              <h3>
                Machine Learning Integration
              </h3>
              <p>
                Integrate AI/ML models into web applications for data analytics, predictions, or custom solutions. </p>
          </div>
          
      </div>
      <div class="service">
          <div class="icon"><i class="fa-solid fa-paintbrush"></i></div>
          <div class="content">
              <h3>
                API Development and Integration
              </h3>
              <p>
                Design RESTful APIs or GraphQL services tailored to your application's needs.</p>
          </div>
      </div>
      <div class="service">
          <div class="icon"><i class="fa-solid fa-chart-area"></i></div>
          <div class="content">
              <h3>
                Consultation and Code Review
              </h3>
              <p>
                Provide expert advice on your web development projects.</p>
          </div>
      </div>
      
      
      <div class="service">
          <div class="icon"><i class="fa-solid fa-bullhorn"></i></div>
          <div class="content">
              <h3>
                  SEO Marketing
              </h3>
              <p>
                Help search engines understand your content, and help users find your site</p>
          </div>
          
      </div>
  </div>
</div>
<div id="resume">
  <div class="title"><h2>Resume</h2></div>
  <div class="brdr"></div>
  <div class="caption">
    <div class="education">
        <h3>My Education</h3>
        <div class="content1">
            <div class="period">
                2020-2024
            </div>
            <h4>Computer Engineering</h4>
            <h5>Nile University</h5>
            <p>Graduated with a GPA of 3.8/4.0 on a merit-based full scholarship. Focused on computer engineering principles and software development.</p>
        </div>
        <div class="content1">
            <div class="period">
                2022-2023
            </div>
            <h4>Full Stack Web Development Diploma</h4>
            <h5>Route IT Training Center</h5>
            <p>Completed a 10-month diploma specializing in React.js, Node.js, and modern web development practices.</p>
        </div>
        <div class="content1">
            <div class="period">
                2023
            </div>
            <h4>Graduation Project: AI Tourism Guide</h4>
            <h5>Nile University</h5>
            <p>Developed an AI-powered web application for personalized tourist guides using Angular, Node.js, and Flask, achieving 97% model accuracy.</p>
        </div>
    </div>
    <div class="education">
        <h3>My Experience</h3>
        <div class="content1">
            <div class="period">
                2024 - Present
            </div>
            <h4>Software Developer</h4>
            <h5>Giza Systems - Headway 2024 Program</h5>
            <p>Developed and deployed microservices-based applications using Spring Boot and Angular, leveraging Docker and Kafka for scalable solutions.</p>
        </div>
        <div class="content1">
            <div class="period">
                3 Months
            </div>
            <h4>Full-stack Developer Intern</h4>
            <h5>Orange Innovation Egypt</h5>
            <p>Built and optimized full-stack applications using Angular.js and Spring Boot, enhancing project performance and creating responsive dashboards.</p>
        </div>
        <div class="content1">
            <div class="period">
                2022 - 2023
            </div>
            <h4>Front-end Developer</h4>
            <h5>X-eats Startup</h5>
            <p>Designed and launched x-eats.com, a responsive website for restaurant menus and online ordering, improving customer order processing and visibility.</p>
        </div>
    </div>
</div>

</div>
<div id="skills">
  <h2>My Skills</h2>
  <div class="info">

  
  <div class="content">
      <div class="caption">
      <h3>Web Design</h3>
      <h3>65%</h3>
      </div>
      <div class="bar b1"></div>
      
      <div class="caption">
      <h3>HTML/CSS</h3>
      <h3>95%</h3>
      </div>
      <div class="bar b2"></div>
      <div class="caption">
      <h3>JavaScript</h3>
      <h3>90%</h3>
      </div>
      <div class="bar b3"></div>
  </div>
  <div class="content">
      <div class="caption">
      <h3>React JS</h3>
      <h3>80%</h3>
      </div>
      <div class="bar b4"></div>
      <div class="caption">
      <h3>Angular Js</h3>
      <h3>90%</h3>
      </div>
      <div class="bar b5"></div>
      <div class="caption">
      <h3>Bootstrap</h3>
      <h3>99%</h3>
      </div>
      <div class="bar b6"></div>
  </div>
</div>
</div>

<div id="portfolio">
  <div class="title"><h2>My Work</h2></div>
  <div class="brdr"></div>
  <div class="portfolio-navbar">
      
  </div>
  <div class="caption">
      <div class="image">
          <div class="container">
              <div class="imag">
                  <img src="../assets/images/project-1.png">
                  <div class="imag-hvr"> 
                      <h4>Angora Website</h4>
                      <p>A home page for angora website</p>
                  </div>
              </div>
              <div class="imag">
                  <img src="../assets/images/project-4.png">
                  <div class="imag-hvr"> 
                      <h4>Devfolio Website</h4>
                      <p class="text-center">A contact us page for Devfolio website</p>
                  </div>
              </div>
          </div>
          <div class="effect"></div>
      </div>
      <div class="image">
          <div class="container">
              <div class="imag">
                  <img src="../assets/images/project-2.jpg">
                  <div class="imag-hvr"> 
                      <h4>Graduation Project</h4>
                      <p>Home Page (Mobile View)</p>
                  </div>
              </div>
              
          </div>
          <div class="effect"></div>
      </div>
      <div class="image">
          <div class="container">
              <div class="imag">
                  <img src="../assets/images/project-3.png">
                  <div class="imag-hvr"> 
                      <h4>Angora Website</h4>
                      <p>The team</p>
                  </div>
              </div>
              <div class="imag">
                  <img src="../assets/images/project-5.png">
                  <div class="imag-hvr"> 
                      <h4>E-commerce</h4>
                      <p>Products</p>
                  </div>
              </div>
              <div class="imag">
                  <img src="../assets/images/project-6.png">
                  <div class="imag-hvr"> 
                      <h4>Portfolio</h4>
                      <p>Contact us Page</p>
                  </div>
              </div>
          </div>
          <div class="effect"></div>
      </div>
     
  </div>
</div>


<footer>
  <div class="caption">
      <div class="copyrights ms-5">
          <p>Copyright <a href=""><span> Mohammed Lamei</span></a> . All Rights Reserved.</p>
      </div>
      
  </div>
</footer>